@font-face {
    font-family: 'Mona'; /* You can choose any name you like */
    src: url('MonaSans-ExtraLight.ttf')
}
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Apply a black background to the entire page */
body {
    background-color: black;
    color: white; /* Set text color to green */
    font-family: "Mona", sans-serif; /* Use Fira Sans font */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ensure the page takes the full viewport height */
}

/* Center-align the header and subheader text */
header, section {
    text-align: center;
    margin: 2rem auto;
}

/* Style the header (h1) */
header h1 {
    font-size: 2rem;
    font-weight: lighter; /* Adjust the font weight to your preference */
}

/* Style the subheader (h2) */
section h2 {
    font-size: 1.5rem;
    margin-top: 1rem;
    font-weight: lighter; /* Adjust the font weight to your preference */
}

/* Style the main body paragraph (p) */
section p {
    font-size: 1rem;
    margin-top: 1rem;
    font-weight: lighter; /* Adjust the font weight to your preference */
}

